#container {
    position: relative;
}

#hero {
    background-image: url("https://i.ytimg.com/vi/Ja8RSylqg5A/maxresdefault.jpg");
    background-size:cover;
    height: 400px;
    color: white;
}

#herotxt {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 100px;
    font-kerning: 50px;
    margin: 20px;
    left: 0;
    top: 5px;
}

#herosubtxt {
    position: absolute;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    left: 0;
    top: 100px;
    margin: 20px;
    color: gray;
    background-color: white;
}

.card {
    margin: 10px;
}